{{ range $host, $containers := groupBy $ "Env.VIRTUAL_HOST" }}
upstream {{ $host }} {

{{ range $index, $value := $containers }}
    {{ with $address := index $value.Addresses 0 }}
    server {{ $value.Hostname }}:{{ $address.Port }};
    {{ end }}
{{ end }}

}

server {
    listen       80;
    server_name  momostore.site www.momostore.site;

    location / {
        root   /usr/share/nginx/html;
        try_files $uri $uri/ /index.html;
        index  index.html index.htm;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    location /products {
        proxy_pass http://{{ $host }};
    }
    location /categories {
        proxy_pass http://{{ $host }};
    }
    location /auth/whoami {
        proxy_pass http://{{ $host }};
    }
}

{{ end }}